= form_tag auth_path do
  %table
    %thead
      %th
        Alias
      %th
        Password
      %th
        &nbsp;
    - if flash[:error] then
      %tr
        %td{:colspan => 3, :class => 'error'}
          = flash[:error]
    %tr
      %td
        - if @users.empty? then
          = text_field_tag :username, session[:alias]
        - else
          %select{:name => 'username'}
            - @users.each do |user|
              %option{:value => user.username} #{user.username} #{user.admin? ? '(admin)' : ''}
        = hidden_field_tag :next, request[:next]
      %td
        = password_field_tag :password
      %td
        = submit_tag 'Log In'
