.components{:class => 'span-8'}
  .label
    Components
  = form_tag home_path, :name => 'componentform' do
    - # %select{:multiple => :multiple, :size => '10', :class => 'componentsel'}
    %fieldset
      - @components.each do |component|
        %input{:type => :checkbox, :id => "component_#{component.id}", :value => component.id}/
        %label{:for => "component_#{component.id}", :class => :component_label}
          = component.name
        %br/
  ! <div class="activities"></div>

.regionnav
  - first = true
  - @regions.each do |region|
    - unless first then
      &bull;
    - first = false
    = link_to %[#{region.name}], "##{region.id}", :class => 'regionitem'

.regions{:class => 'span-16 last'} #{''}
