.components{:class => 'span-8'}
  .label
    Components
  = form_tag home_path, :name => 'componentform' do
    %select{:size => '10', :class => 'componentsel'}
      - @components.each do |component|
        %option{:value => component.id}
          = component.name
  ! <div class="activities"></div>

.regions{:class => 'span-16 last'}
  .regionnav
    - first = true
    - @regions.each do |region|
      - unless first then
        &bull;
        - first = false
      = link_to %[#{region.name}], "##{region.id}", :class => 'regionitem'
