%h4 Settings
! <div id="settingsnav"></div>
%div{:class => "settingspanel span-24"}
  %span{:class => 'settingsheading'} Assumptions
  .assumptions
    %table
      %thead
        %th
          Name
        %th
          Value
        %th
          Units
      - @activities.each do |activity|
        %tr
          %td
            %strong
              != activity.name
          ! <td></td><td></td>
        - activity.activity_items.order('name ASC').each do |actit|
          - actit.assumptions.order('name ASC').each do |assumption|
            %tr{:class => 'assumption', :id => %[assumption_#{assumption.id}]}
              %td
                = assumption.name
              %td{:class => %[valorunit_value]}
                = assumption.value
              %td{:class => %[valorunit_units]}
                = assumption.units
      %tr
        %td
          %strong
            Assumptions Not Linked to Any Activity
        ! <td></td><td></td>
      - @assumptions.each do |assumption|
        %tr{:class => 'assumption', :id => %[assumption_#{assumption.id}]}
          %td
            = assumption.name
          %td{:class => %[valorunit_value]}
            = assumption.value
          %td{:class => %[valorunit_units]}
            = assumption.units
%div{:class => "settingspanel span-24"}
  %span{:class => 'settingsheading'} District Populations
  .populations
    %table
      %thead
        %th
          Name
        %th
          Population
      %tbody
        - @districts.each do |district|
          %tr{:class => 'districtassump', :id => %[district_#{district.id}]}
            %td
              = district.name
            %td
              = district.district_data.population
