!!!
%html
  %head
    %title Project Costs
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #main{:class => 'container'}
      #header{:class => 'span-24'}
        #logoface{:class => 'span-12'}
          %img{:src => asset_path('unicef.gif'), :width => '100%', :alt => 'UNICEF'}
        #tagline{:class => 'span-12 last'}
          Project Costing System
      #trunk{:class => 'span-24'}
        = yield
      #footer{:class => 'span-24'}
        &copy; 2011,
        = succeed '.' do
          %a{:href => 'http://www.unicef.org/'} UNICEF
        All Rights Reserved.
