!!!
%html
  %head
    %title Outreach Project Cost Reports
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #main{:class => 'container'}
      #header{:class => 'span-24'}
        #logoface{:class => 'span-12'}
          %br/
          %br/
        #tagline{:class => 'span-12 last'}
          Outreach Cost Reports
          #explication
            The Accelerated Approach to Child and Maternal Survival Through Four-Quarterly Outreaches at Places of Worship
      #trunk{:class => 'span-24'}
        #navbar{:class => 'span-24'}
          %a{:href => home_path, :class => 'navitem'}
            %img{:src => asset_path('Icons/house.png'), :alt => 'Home'}/
          - if session[:auth] then
            %a{:href => logout_path, :class => 'navitem'}
              %img{:src => asset_path('Icons/door.png'), :alt => 'Exit'}/
            %a{:href => settings_path, :class => 'navitem'}
              %img{:src => asset_path('Icons/gear_wheel.png'), :alt => 'Exit'}/
          %hr/
        #soul{:class => 'span-24'}
          #dashboard
            = yield
          ! <div id="stdout" class="span-24"></div>
      #footer{:class => 'span-24'}
        &copy; 2011,
        = succeed '.' do
          %a{:href => 'http://www.unicef.org/'} UNICEF
        All Rights Reserved.
