!!!
%html
  %head
    %title Outreach Project Cost Reports
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #main{:class => 'container'}
      #header{:class => 'span-24'}
        #logoface{:class => 'span-12'}
          %br/
          %br/
        #tagline{:class => 'span-12 last'}
          Outreach Project Cost Reports
      #trunk{:class => 'span-24'}
        #navbar{:class => 'span-24'}
          = link_to 'Home', home_path, :class => 'navitem'
          - if session[:auth] then
            &bull;
            = link_to 'Exit', logout_path, :class => 'navitem'
        = yield
      #footer{:class => 'span-24'}
        &copy; 2011,
        = succeed '.' do
          %a{:href => 'http://www.unicef.org/'} UNICEF
        All Rights Reserved.
